:root {
	--clr-red: #83564f;
	--clr-orange: #ad8753;
	--clr-light-green: #b8b66c;
	--clr-dark-green: #6b8556;
	--clr-blue: #464e5d;
}

body {
	background-color: var(--clr-light-green);
}

.container {
	width: 70%;
	margin: auto;
}

#calculator {
	width: 350px;
	height: 500px;
	margin: auto;
	background-color: var(--clr-blue);
	display: grid;
	grid-template-rows: 1fr 4fr;
	box-sizing: border-box;
}

.screen {
	margin: 20px;
	width: 310px;
	height: 100px;
	background-color: whitesmoke;
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
	vertical-align: bottom;
	border: 2px solid var(--clr-light-green);
}

#display {
	display: block;
	box-sizing: border-box;
	width: 312px;
	padding: 12px;
	text-align: right;
}

.buttons {
	background-color: black;
	margin: 0 20px 20px 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1px;
	border: 2px solid var(--clr-light-green);
}

.buttons>button {
	border: 0;
	box-shadow: none;
	font-size: 18px;
	font-family: 'Orbitron', sans-serif;
	background-color: var(--clr-orange);
}

#btnMultiply,
#btnDivide,
#btnSubtract,
#btnAdd {
	background-color: var(--clr-dark-green);
}

#btnClear,
#btnOperate {
	background-color: var(--clr-red);
}